<h1>Search for Crypto Info</h1>

<div>
<%= form_tag main_search_path, :method => 'POST' do %>
  <%= text_field_tag 'crypto', nil, placeholder: 'Enter Crypto Symbol (e.g. "BTC")', size: 50, :required => 'required' %></br></br>
  <%= submit_tag 'Search', class: "btn btn-default" %>
<% end %>
</div>	

</br></br>

<!-- creates a loop to render specific info from the API -->
<div class="search-results"
<% if @symbol %>
<% for x in @search_coin %>
		<% if @symbol == x["symbol"] %>
		<div class="search_results">
			Coin Name:  <%= x["name"] %></br> Coin Symbol:  <%= x["symbol"] %></br> Current Price: <%= number_to_currency(x["price_usd"]) %></br>Current Rank:  <%= x["rank"] %> of 1,600</br>In Circulation:  <%= number_with_delimiter(x["total_supply"]) %></br>Max Supply:  <%= number_with_delimiter(x["max_supply"]) %></br>Percent Change 1HR:  <%= number_with_delimiter(x["percent_change_1h"]) %></br>Percent Change 24HR:  <%= number_with_delimiter(x["percent_change_24h"]) %></br>Percent Change 7 Day:  <%= number_with_delimiter(x["percent_change_7d"]) %></br></div>
		<% end %>
	<% end %>
<% end %>
</div>


	<% i = 0 %>
	<div class="all-coins">
	<% @coins.each do |c| %>
		<%if i <= 2000 %>
			<div class="box">
				Rank: <%= c['rank']%> of  1,600</br>
				Symbol: <%= c['symbol']%></br>
				Coin:  <%= c['name']%></br>
				Current Price:  <%= number_to_currency(c['price_usd'])%></br>
				In Circulation: <%= number_with_delimiter(c['total_supply']) %></br>
				Max Supply: <%= number_with_delimiter(c['max_supply']) %></br>
				Percent Change 1 Hr: <%= c['percent_change_1h'] %>%</br>
				Percent Change 24 Hrs: <%= c['percent_change_24h'] %>%</br>
				Percent Change 7 Days: <%= c['percent_change_7d'] %>%</br>
				<% i += 1 %>
			</div>
		<% end %>
	<% end %>
	</div>

