<div class="search-form">
<h1 style="color: #FF007B">Search for Crypto Info</h1>

<%= form_tag main_search_path, :method => 'POST' do %>
  <%= text_field_tag 'crypto', nil, placeholder: 'Enter Crypto Symbol (e.g. "BTC")', size: 50, :required => 'required' %></br></br>
  <%= submit_tag 'Search', class: "btn btn-default" %>
<% end %>
</div>	

</br></br>

<!-- creates a loop to render specific info from the API -->
<div class="search-results"
<% if @symbol %>
<% for x in @search_coin %>
		<% if @symbol == x["symbol"] %>
		<div class="search_results">
			Coin Name:  <%= x["name"] %></br> Coin Symbol:  <%= x["symbol"] %></br> Current Price: <%= number_to_currency(x["price_usd"]) %></br>Current Rank:  <%= x["rank"] %> of 1,600</br>In Circulation:  <%= number_with_delimiter(x["total_supply"]) %></br>Max Supply:  <%= number_with_delimiter(x["max_supply"]) %></br>Percent Change 1 hr:  <%= number_with_delimiter(x["percent_change_1h"]) %>%</br>Percent Change 24 hr:  <%= number_with_delimiter(x["percent_change_24h"]) %>%</br>Percent Change 7 day:  <%= number_with_delimiter(x["percent_change_7d"]) %>%</br></div>
		<% end %>
	<% end %>
<% end %>
</div>




