<h2>Search for Crypto Info</h2>

<div>
<%= form_tag main_search_path, :method => 'POST' do %>
  <%= text_field_tag 'crypto', nil, placeholder: 'Enter Crypto Symbol (e.g. "BTC")', size: 50, :required => 'required' %></br></br>
  <%= submit_tag 'Search', class: "btn btn-default" %>
<% end %>
</div>	

</br></br>

<!-- creates a loop to render specific info from the API -->
<!-- add an error message somewhere in this loop if the searched symbol does not exist -->
<% if @symbol %>
<% for x in @search_coin %>
		<% if @symbol == x["symbol"] %>
			Coin:  <%= x["name"] %></br> Current Price: $<%= x["price_usd"] %></br>Current Rank:  <%= x["rank"] %></br></br>
		<% end %>
	<% end %>
<% end %>

	