<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchased_on %></br>
    <%= form.date_field :purchased_on, id: :purchased_on, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :symbol %></br>
    <%= form.text_field :symbol, id: :coin_symbol, :required => 'required' %>
  </div>

  <div class="field">
    <!-- hide the user ID field so that it is only used for authentication purposes (allow user to show coin, edit coin, etc if they own the coin) -->
    <%= form.number_field :user_id, value: current_user.id, type: "hidden" %>
  </div>

  <div class="field">
    <%= form.label :cost_per %></br>
    <%= form.text_field :cost_per, id: :coin_cost_per, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :amount_owned %></br>
    <%= form.text_field :amount_owned, id: :coin_amount_owned, :required => 'required' %>
  </div>

</br>

  <div class="actions">
    <%= form.submit "Add Coins", class: "btn btn-default" %>
  </div>
<% end %>
