<h1 style="color: #FF007B">My Wallet</h1>
<br/>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Purchased</th>
      <th>Name</th>
      <th>Current Price</th>
      <th>Rank</th>
      <th>1 Hr % </th>
      <th>24 Hr % </th>
      <th>7 Day %</th>
      <th>Current Value</th>
      <th>Total Paid</th>
      <th>Profit/Loss</th>
      <th>Paid Per Coin</th>
      <th>Coins Owned</th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <% if coin.user_id == current_user.id %>
        <% if coin.symbol %>
          <% coin.symbol = coin.symbol.upcase %>
        <% end %>
        <tr>
        <% for x in @search_coin_data %>
          <% if coin.symbol == x["symbol"] %>
              <!-- purchased date -->
              <td><%= coin.purchased_on.strftime("%B %d, %Y") %></td>
              <!-- coin name -->
              <td><%= link_to x["name"], coin %></td>
              <!-- current price -->
              <td><%= number_to_currency(x["price_usd"]) %></td>
              <!-- ranking -->
              <td># <%= x["rank"] %></td>
              <!-- 1 HR % -->
              <td><%= x["percent_change_1h"] %>%</td>
              <!-- 24 HR % -->
              <td><%= x["percent_change_24h"] %>%</td>
              <!-- 7 Day % -->
              <td><%= x["percent_change_7d"] %>%</td>
              <!-- current value -->
              <td><%= number_to_currency(x["price_usd"].to_d * coin.amount_owned) %></td>
              <!-- paid per coin -->
              <td><%= number_to_currency(coin.cost_per * coin.amount_owned) %></td>
              <!-- profit/loss -->
              <td><%= number_to_currency((x["price_usd"].to_d * coin.amount_owned) - (coin.cost_per * coin.amount_owned)) %></td>

              <% @total_invest += (coin.cost_per * coin.amount_owned)  %>

              <% @profit_loss += (x["price_usd"].to_d * coin.amount_owned) - (coin.cost_per * coin.amount_owned)  %>

              <% @total_value += (x["price_usd"].to_d * coin.amount_owned)  %>
              
          <% end %>
        <% end %>
          <!-- cost per coin -->
          <td><%= number_to_currency(coin.cost_per) %></td>
          <!-- coins owned -->
          <td><%= number_with_delimiter(coin.amount_owned) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</br>

<!-- the following is displayed outside of table -->


<table class="table table-condensed">
  <thead>
    <tr>
      <!-- an instance variable @profit_loss was created in the coins controller index to set the initial value of "@total_invest" to 0 -->
      <th><h5><strong>Wallet Total Investment</strong></h5></th>
      <!-- an instance variable @profit_loss was created in the coins controller index to set the initial value of "@profit_loss" to 0 -->
      <th><h5><strong>Wallet Profit/Loss</strong></h5></th>
      <!-- an instance variable @profit_loss was created in the coins controller index to set the initial value of "@total_invest" to 0 -->
      <th><h5><strong>Wallet Total Value</strong></h5></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= number_to_currency(@total_invest) %></td>
      <td><%= number_to_currency(@profit_loss) %></td>
      <td><%= number_to_currency(@total_value) %></td>
    </tr>
  
  </tbody>
</table>

<%= link_to 'Add Coins', new_coin_path, class: "btn btn-success" %>

</br></br></br></br>

<!-- Notes: -->

<!-- profit/loss math

    current price
x   amount owned
_____________________
          x

    cost per coin
x   amount owned
_____________________
          y

x - y = @profit_loss -->



