<% for x in @show_my_coin %>
<!-- if the crypto symbol from our wallet matches the API... -->
  <% if @coin.symbol.upcase == x["symbol"] %>
      <% coin_name = x["name"] %> 
      <% coin_price = x["price_usd"] %>
      <% coin_rank = x["rank"] %>
      <% coin_percent_change_1h = x["percent_change_1h"] %>
      <% coin_percent_change_24h = x["percent_change_24h"] %>
      <% coin_percent_change_7d = x["percent_change_7d"] %>
  <% end %>
<% end %>

<!-- Header begins -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= coin_name %></h3></div>
  <div class="panel-body">
  
  <h1><%= @coin.symbol.upcase %></h1><br/>

  <!-- Header ends -->

  <p><strong>Date of Purchase:  </strong><%= @coin.purchased_on.strftime("%B %d, %Y") %></p>

  <p><strong>Coin Name:  </strong> <%= coin_name %> </p>

  <p><strong>Current Price: </strong><%= number_to_currency(coin_price) %></p>
  
  <p><strong>Rank:  </strong><%= coin_rank %> of 1,600</p>

  <p><strong>1 Hr % Change:  </strong><%= coin_percent_change_1h %>%</p>

  <p><strong>24 Hr % Change:  </strong><%= coin_percent_change_24h %>%</p>

  <p><strong>7 Day % Change:  </strong><%= coin_percent_change_7d %>%</p>

  <!-- Footer Begins -->
  
  <p><strong>Paid Per Coin:  </strong><%= number_to_currency(@coin.cost_per) %></p>
  
  <p><strong>Amount owned:  </strong><%= number_with_delimiter(@coin.amount_owned) %> coins</p>
  
  <!-- Footer Ends -->

  </div>
    <div class="panel-footer">
      <%= link_to 'Back', coins_path %> |
      <%= link_to 'Edit', edit_coin_path(@coin) %> |
      <%= link_to 'Delete', coin_path(@coin), method: :delete, data: { confirm: "Are you sure? You're supposed to HODL!" } %>
    </div>
  </div>
  